@model IEnumerable<SATrackingDAL.SkillsRequired>

@{
    ViewBag.Title = "Index";
  WebGrid grid = new WebGrid(Model, rowsPerPage: 20, ajaxUpdateContainerId: "gridContent");
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { appID = Request.QueryString["appID"]})
</p>

@{Html.RenderPartial("ApplicationMenu", new ViewDataDictionary { { "appID", Request.QueryString["appID"] } });}
<div id="gridContent">

@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    mode:WebGridPagerModes.All,
    firstText: "<< First", 
    previousText: "< Previous", nextText: "Next >", 
    lastText: "Last >>", 
    columns: new []{
    grid.Column( "", 
    header: "View", 
    format: @<text> 
    @Html.ActionLink("Edit",   "Edit",   new { id=item.SkillID} ) 
    | @Html.ActionLink("Delete", "Delete", new { id = item.SkillID}) 
    | @Html.ActionLink("Details", "Details", new { id=item.SkillID })
    </text>) 
    ,
    grid.Column("SkillName", "Skill",
    format: @<text>@Html.ActionLink(Html.Encode((string)item.SkillName), "Index", "Application", new { param = item.SkillName, src="sk"}, null)</text>) 
    
})

</div>